<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hello, World!</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
	</head>
	<body>
		<h1> A Stock Search Bar</h1>
        <p> Use the stock ticker to find an interative plot of related time series data</p>
		<form class="form-inline" method="post" action="/post_stock"></p>
				<div class="row">
                <p class="s"><input name="search" id="search" type="search">
				</div>
				<div class="row">
				<div class='select_style'>
                       <select id="type_select" name="type_select" class="selectpicker form-control">
                             {% for o in data %}
                             <option value="{{ o.name }}">{{ o.name }}</option>
                             {% endfor %}
                       </select>
			    </div>
				<div class='select_style'>
                       <select id="adj_select" name="adj_select" class="selectpicker form-control">
                             {% for o in adj %}
                             <option value="{{ o.name }}">{{ o.name }}</option>
                             {% endfor %}
                       </select>
				</div>
				</div>
        </form>		
	</body>
</html>
